@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  /* font-family: serif; */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.font-greatvibes {
  font-family: 'Great Vibes', cursive;
}

/* Stylings */

.pulse-animation {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.garden-animation {
  animation: gardenMove 3s ease-in-out infinite;
}

@keyframes gardenMove {

  0%,
  100% {
    transform: translateY(0);
    transform: scale(1);
  }

  50% {
    transform: translateY(-2px);
    transform: scale(1.007);
  }
}

@media screen and (min-width: 420px) {
  .hanging-flower {
    display: none !important;
  }

}